* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-size:17px;
    font-family: 'Lexend', sans-serif;      
  }

  h1 {
    font-family:'Alegreya', serif;
  }

  h2 {
    font-family:'Alegreya', serif;
  }

  h3 {
    font-family:'Alegreya', serif;
  }

  .image-container{
    float:left;
    padding-right:15px;
    width:65px;
  }
  
  .text-container{
    display:inline;

  }

  .title-icon-container img {
    float:left;
    width:30px;
    margin-right:10px;
  }

  .front-page-content {
    padding: 10px;
    padding-left:7.5%;
    padding-right:7.5%;
    font-family: 'Lexend', sans-serif; 
    font-weight:400;     
  }

  .front-page-content a {
    color: #000000;
    text-decoration: none;
    padding: 2px 0px 1px;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #ffcc00 calc(50% - 9px), #ffcc00 100%);    
    background-size: 100% 200%;
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
  }

  .front-page-content a:hover {
    background-position: 0px 100%;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #ffcc00 calc(50% - 9px), #ffcc00 100%);
  }

 .footing {
    padding: .1px;
    padding-left:7.5%;
    padding-right:7.5%;
    font-family: 'Lexend', sans-serif; 
    font-weight:400;
    text-align:center;
    background-color: black;
    color: rgba(255, 255, 255, 0.596);
    font-size:13px;
 }

 table {
  caption-side:bottom;
 }
 caption {
  padding-top:10px;
  text-align:left;
 }

 figure {
  width:600px;
  margin: 25px 0;
 }

 .fig-img {
  width:600px;
 }

  .tg  {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    border-radius: 5px 5px 0 0;
    overflow:hidden;
  }
  .tg td{
    border-color:#ffcc00;
    /* border-style:solid; */
    /* border-width:2px; */
    overflow:hidden;
    padding:12px 15px;
    word-break:normal;
  }
  .tg th{
    border-color:#ffcc00;
    background-color:#ffcc00;
    /* border-style:solid; */
    /* border-width:2px; */
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    /* font-family: 'Alegreya', serif; */
    /* font-size:17px; */
    text-align:left;
  }

  .tg tbody tr {
    border-bottom: thin solid #dddddd;
}

.tg tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tg tbody tr:last-of-type {
    border-bottom: 2px solid #ffcc00;
}

  .tg .tg-uog8{
    /* border-color:inherit; */
    text-align:left;
    text-decoration:underline;
    vertical-align:top}
  .tg .tg-0pky{
    /* border-color:inherit; */
    text-align:left;
    vertical-align:top}


  /* .footing {
    background-color: black;
    color:rgba(255, 255, 255, 0.397);
    font-weight:300;
    font-size:80%;
    bottom:0;
    padding-bottom:20px;
    text-align:right;
    font-size:80%;
    font-weight: 400;
    color:grey;
    background-color:black;
    font-style: italic;
    text-align: right;
    margin-right:10px;
    margin-bottom:10px;
    padding-bottom:30px;
    position:absolute;
    box-sizing:border-box;
  }
  */

  /* .footing p {
    margin-bottom:-15px;
  } */ 

  .front-page {
    background-color: black;
    font-family: 'Lexend', sans-serif;   
    font-weight:300;   
    color:white;
    padding: 10px;
    padding-left:7.5%;
    padding-right:7.5%;
    background-image: url('assets/bg.jpg');
    padding-bottom:50px;
    background-position:center;
    background-size:cover;
  }

  .front-page a {
    color:black;
    padding:7.5px;
    background-color: #ffcc00;
    border-radius: 7.5px;
    font-weight: 600;
    text-decoration: none;
    margin-right:20px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .front-page a:hover {
      background-color: rgba(255, 204, 0, 0.774);
  }

  .front-page a:visited { 
      text-decoration: none; 
    }

  .nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
  }

  .nav-title{
    font-family: 'Berkshire Swash', cursive;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(255, 204, 0);
    padding: 10px 10px 10px 10px;
  }

  .nav-title a{
    font-size: 22px;
    color: rgb(255, 204, 0);
    text-decoration: none;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18.5px;
    font-family: 'Alegreya', serif;
    font-weight: 600;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(88, 88, 88, 0.607);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:650px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }